@import"https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";.card{border:2px solid hsl(120,26%,29%);border-radius:10px!important;padding:10px}
